body{
    background-color: #d0ebf5;
}
a{
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
a:visited{
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    background-color: yellow;
  }